@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

@media(max-width: 1090px) {
  body {
    font-size: 16px;
  }
}

.flex-me {
  display: flex;
  }

.flex-col {
  flex-direction: column;
}

.full-height {
  height: 100%;
}
  
.full-height-child > div {
  height: 100%;
}

.anvil-label > .label-text {
  padding: 0;
 }

/* This is needed to ensure items inside the .content div of the Homepage are sized appropriately */
.absolute-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
.placeholder {
    border: 1px dotted grey;
    padding: 10px 10px;
    text-align: center;
  }

.anvil-role-full-height {
  height: 100%;
}

/* Role to make a form full height as well as applying padding */
.anvil-role-full-height-padding {
  padding: 36px 90px;
  height: 100%;
}

.anvil-role-horizontal-padding {
  padding: 0 80px;
}

.anvil-role-dashboard-form {
  height: 100%;
  width: 100%;
  padding: 36px 0 0 100px;
  margin-right: 10px;
}

.anvil-role-background-image {
  background: url(/_/theme/grey-squiggles.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 70%;
  height: 100%;
  width: 100%;
  padding: 36px 0 0 100px;
  margin-right: 10px;
}

.anvil-role-background-image-narrow {
  background: url(/_/theme/grey-squiggles.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 75%;
  height: 100%;
  width: 100%;
  padding: 36px 0 0 0;
  margin-right: 10px;
}

.anvil-role-background-colour {
  background-color: #2f2853;
  padding: 0px 40px;
  height: 100%;
}

.anvil-role-background-colour .header {
  padding: 0 20px;
}

.anvil-role-tickets-form *:last-child {
  height: 100%;
}

.anvil-role-tickets-form select {
  border: none !important;
  box-shadow: none !important;
}

.anvil-role-tickets-form .link-text {
  color: grey;
}

.anvil-role-grey-bottom-border {
  border-bottom: 5px solid #F2F2F2;
  padding: 0 30px 30px 30px;
  background-color: white;
  margin-right: 30px;
}

.anvil-role-grey-bottom-border-narrow {
  border-bottom: 5px solid #F2F2F2;
  padding: 0 30px 30px 30px;
  background-color: white;
  margin: 0 20px;
}

.anvil-role-grey-border-top {
  border-top: 5px solid #F2F2F2;
  padding: 0 30px 30px 30px;
  background-color: white;
  margin: 30px;
}

.anvil-role-card-no-border {
  padding: 0 30px 30px 30px;
  margin-right: 32px;
}

.anvil-role-card-with-border {
  padding: 0 30px 30px 30px;
}

/* The only thing to make the top row of the Tickets form line its items up */
.flow-panel-gutter {
  align-items: center;
}

.anvil-role-tickets-repeating-panel {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px 0 0 10px;
  border-top: 1px solid rgb(242, 242, 242) !important;
  border-left: 1px solid rgb(242, 242, 242) !important;
  border-bottom: 1px solid rgb(242, 242, 242) !important;
}

.anvil-role-tickets-repeating-panel:first-child {
    margin-top: 30px;
}

.anvil-role-select-customer-repeating-panel {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px 0 0 10px;
  border-top: 1px solid rgb(242, 242, 242) !important;
  border-left: 1px solid rgb(242, 242, 242) !important;
  border-bottom: 1px solid rgb(242, 242, 242) !important;
}

.anvil-role-select-customer-repeating-panel:first-child {
    margin-top: 60px;
}

.anvil-role-details-repeating-panel {
  padding: 24px 36px;
  border-radius: 10px;
}

.anvil-role-customers-repeating-panel {
  padding: 21px 36px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px 0 0 10px;
  border-top: 1px solid rgb(242, 242, 242) !important;
  border-left: 1px solid rgb(242, 242, 242) !important;
  border-bottom: 1px solid rgb(242, 242, 242) !important;
  margin-left: 20px;
}

.anvil-role-scrollable {
  overflow-y: scroll;
}

.anvil-role-avatar {
  border: 1px dashed #322E5A;
  border-radius: 50%;
  padding: 10px 0px;
}

.anvil-role-avatar i {
  font-size: 32px;
  color: #332F5B;
}

.anvil-role-grey-link {
  color: grey;
}

.anvil-role-customer-letter-label {
  padding: 2px 22px;
  color: white;
  border-radius: 0 10px 10px 0;
}


/* Remove built-in dropdown arrows */
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
select::-ms-expand {
    display: none;
}


.anvil-role-ticket-filters-form {
  padding: 32px 36px 24px 40px;
  background-color: white;
  box-shadow: -6px 6px 10px 1px #f4f4f4;
  height: 100%;
}

.anvil-role-customer-edit-form {
  padding: 32px 36px 24px 40px;
  background-color: white;
  height: 100%;
}

.anvil-role-customer-details-form {
  padding: 32px 36px 24px 40px;
  height: 100%;
}

/* apply full height to children of customer details form */
.anvil-role-customer-details-form   {
  height: 100%;
  
}

/* Dropdowns with border */
.anvil-role-dropdown-border {
  font-size: 18px;
  
}

.anvil-role-dropdown-border input {
  height: 50px !important;
  border: 0.5px solid #EEEEEE;
  background: url("/_/theme/chev.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  
}

.anvil-role-dropdown-border i {
  display: none;
}

.anvil-role-dropdown-border select {
  height: 50px;
  border: 0.5px solid #EEEEEE;
  background: url("/_/theme/chev.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 40px;
}

/* Dropdowns without border */

.anvil-role-dropdown-no-border select {
  border: none;
  box-shadow: none !important;
}

/* Style the main button */
.anvil-role-primary-button button {
    background-color: #2D2B52;
    color: white;
    font-size: 18px;
    padding: 9px 20px;
    border-radius: 30px;
    border: none;
    margin-bottom: 10px;
}

.anvil-role-primary-button button i {
    margin-right: 10px;
 }

/* Style input TextBoxes */
.anvil-role-textbox-input {
  height: 50px !important;
  border: 0.5px solid #EEEEEE;
  font-size: 18px;
}

.anvil-role-textarea-input {
  min-height: 50px !important;
  border: 0.5px solid #EEEEEE;
  font-size: 18px;
}

/* Style the clear button */
.anvil-role-clear-button button {
    background-color: white;
    color: gray;
    border: 1px solid lightgrey;
    font-size: 12px;
    padding: 9px 16px;
    border-radius: 5px;
}

/* Style the TicketDetail RepeatingPanel */

.anvil-role-thick-grey-border {
  border: 4px solid %color:Gray 100%;
  padding: 30px 60px 50px 55px;
  border-radius: 10px;
}

.anvil-role-datagrid-padded-header .auto-grid-header {
  padding: 0px 36px 21px 36px;
  margin-bottom: 10px;
  border-bottom: none !important;
  box-shadow: 6px 6px 10px 1px #f4f4f4;
  font-size: 16px;
}


/* Style the expanded datepicker */
.daterangepicker {
  font-size: 16px;
  color: #515151;
  padding: 24px;
}
.calendar-table td.active {
  background-color: #00FFAF;
  color: #515151;
}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #322E59;
  color: white;
}
.daterangepicker td.off {
  color: #C5C5C5;
}
.daterangepicker select.monthselect {
  border: none;
  font-size: 18px;
}
.daterangepicker select.yearselect {
  border: none;
  font-size: 18px;
}

/* Secondary search box */
.anvil-role-search-box-secondary {
  color: grey;
  background-color: #EBEBEB;
  padding: 10px 200px 20px 20px;
  border-radius: 30px;
  border: none;
  background-image: url("/_/theme/grey-box.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 18px;
}

/* Focus on inputs */

.form-control:focus {
  border-color: #e6e6e6 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(102, 175, 233, .6) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgb(217, 217, 217) !important;
}
  
