@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato';
}

.anvil-role-dashboard-form {
  padding-left: 50px;
}

.anvil-role-tickets-form {
  padding: 30px 0 0 70px;
  background: url(/_/theme/grey-background.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 400px 700px;
}

.anvil-role-tickets-form select {
  border: none !important;
  box-shadow: none !important;
}

.anvil-role-tickets-form .link-text {
  color: grey;
}

.anvil-role-grey-bottom-border {
  border-bottom: 5px solid #F2F2F2;
  padding: 0 30px 30px 30px;
  background-color: white;
}

/* The only thing to make the top row of the Tickets form line its items up */
.flow-panel-gutter {
  align-items: center;
}

.anvil-role-tickets-repeating-panel {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.anvil-role-tickets-repeating-panel:first-child {
    margin-top: 30px;
}

.anvil-role-avatar {
  border: 1px dashed #322E5A;
  border-radius: 50%;
  padding: 10px 0px;
}

.anvil-role-avatar i {
  font-size: 32px;
  color: #332F5B;
}



.anvil-role-grey-link {
  color: grey;
}

.anvil-role-scrollable {
  overflow-y: scroll;
  max-height: 65vh;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
}

select::-ms-expand {
    display: none;
}

.anvil-role-ticket-filters-form {
  padding: 20px 40px;
  background-color: white;
  box-shadow: -6px 0px 10px 1px #f4f4f4;
  height: 100%;
}

.anvil-role-dropdown-border {
  font-size: 18px;
}

.anvil-role-dropdown-border input {
  height: 50px !important;
  border: 0.5px solid #EEEEEE;
  background: url("/_/theme/chev.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}

.anvil-role-dropdown-border i {
  display: none;
}

.anvil-role-dropdown-border select {
  height: 50px;
  border: 0.5px solid #EEEEEE;
  background: url("/_/theme/chev.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Style the expanded datepicker */

.daterangepicker {
  font-size: 16px;
  color: #515151;
  padding: 24px;
}

.calendar-table td.active {
  background-color: #00FFAF;
  color: #515151;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #322E59;
  color: white;
}

.daterangepicker td.off {
  color: #C5C5C5;
}

.daterangepicker select.monthselect {
  border: none;
  font-size: 18px;
}

.daterangepicker select.yearselect {
  border: none;
  font-size: 18px;
}


